<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Cost Core{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
<nav class="sidebar">
    <h2 class="logo">CostCore</h2>
    <ul>
        <li><a href="{{ url_for('index') }}">Dashboard</a></li>
        <li><a href="{{ url_for('products.products_list') }}">Produkty</a></li>
        <li><a href="{{ url_for('products.prices_list') }}">Ceny</a></li>
    </ul>
</nav>
<main class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash">
          {% for cat, msg in messages %}
            <div class="msg {{cat}}">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>
</body>
</html>
