{% extends 'base.html' %}
{% block title %}Produkty{% endblock %}
{% block content %}
<h2>Produkty</h2>
<a class="btn" href="{{ url_for('products.product_new') }}">+ Dodaj produkt</a>
<table>
  <thead><tr><th>ID</th><th>Nazwa</th><th>Jednostka</th><th>Cena ostatnia</th></tr></thead>
  <tbody>
  {% for p in products %}
    <tr>
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.unit }}</td>
      <td>
        {% if p.prices %}
          {{ p.prices[-1].price }} / {{ p.prices[-1].quantity }} {{ p.unit }}
        {% else %}-{% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
