
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Edit Sale</title>
    </head>
    <body>
        <h1>Edit Sale</h1>
        <form method="post">
            Date: <input type="text" name="date" value="{{ sale.date }}"><br>
            Dine In: <input type="text" name="dine_in" value="{{ sale.dine_in }}"><br>
            Delivery: <input type="text" name="delivery" value="{{ sale.delivery }}"><br>
            Other: <input type="text" name="other" value="{{ sale.other }}"><br>
            <button type="submit">Save</button>
        </form>
    </body>
    </html>
    