<!DOCTYPE html>
<html>
<body>
    <h1>Lista sprzedaży</h1>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Gotówka</th>
                <th>Karta</th>
                <th>Online</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.date }}</td>
                <td>{{ sale.cash }}</td>
                <td>{{ sale.card }}</td>
                <td>{{ sale.online }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
